/*import brightspace fonts*/
@font-face{font-family: 'Lato';src: url('https://s.brightspace.com/lib/fonts/0.5.0/assets/Lato-400.woff2');}
@font-face {font-family: 'Lato';src: url('https://s.brightspace.com/lib/fonts/0.5.0/assets/Lato-700.woff2');font-weight: bold;}
*{font-size:16px; font-family: Lato, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
/*styles*/
.container-fluid{padding:0px 30px 20px 30px; max-width: 1230px;}
input[type=text],label{width: 100%;}
input[type=checkbox], input[type=radio]{width: 25px; height: 25px;}
h3,h4{font-weight: bold;}
.d2l-table {
    border-collapse:separate;
    border:1px solid #bbb;
    border-radius:6px;
    width: 100%;
}
.d2l-table tr:first-child th:first-child{
    border-top-left-radius:6px;
}
tr:first-child th:last-child{
    border-top-right-radius:6px;
}
.d2l-table td, .d2l-table th {
    border-left:1px solid #bbb;
    border-top:1px solid #bbb;
    padding:10px 20px;
    vertical-align:middle;
    text-align: center;
    height:3.5em;
}
.d2l-table th {
    border-top: none;
    font-weight: bold;
    background-color: #f9fbff;
}
.d2l-table td:first-child, .d2l-table th:first-child {
    border-left: none;
}
.d2l-table tr:last-child td:first-child {
    border-bottom-left-radius:6px;
}
.d2l-table tr:last-child td:last-child {
    border-bottom-right-radius:6px;
}
.d2l-table tbody tr:hover{background-color: #ffd;}
.btn{padding:0.8em 2em; font-weight: bold; border-radius: 0.5em; background-color: #e3e9f1; color: #202122}
.btn:hover{background-color: #cdd5dc;}
.btn-primary{background-color: #006fbf; color: #fff;}
.btn-primary:hover{background-color: #004489;}
.btn-red{background-color: #d0021b; color: #fff;}
.btn-red:hover{background-color: #b4001a; color: #fff;}
.btn-secondary{background-color: #e3e9f1;}
.btn-secondary:hover{background-color: #cdd5dc;}
.btn-sm{font-size:16px; display:inline-block; padding:0.1em 0.4em; margin-bottom:6px; border-radius: 0.25em;}
.nav-tabs{font-weight: bold;}
.tab-pane{padding: 10px 10px 0px 10px; margin-bottom: 1px solid #ccc;}
.error{background-color: #ffbbbb;}
#existing_timeslots,#signup_schedule__form,#edit_timeblocks,#edit_schedule,#add_new_timeblocks,#schedule_description,#module_selection{display: none;}
#schedule_description{font-size:20px;}
#existing_timeslots__table{width: 100%;font-size: 16px;margin-bottom: 20px;}
.manage-timeslot{display:block; margin: 0px auto 6px auto;}
.student_timeslot_actions{display:none;}
.datetime_title{margin-bottom: 5px;}
.timeslot_unit{width:100%; max-width: 363px;}
#add_new_timeblocks{margin-top:20px;}
#my_selection{display:none;}
.modal-header{border:none;}
.modal p{color:#000; font-size: 1.2em;}
.modal .modal-footer .btn-close{display:none;}
#delete_schedule{text-align: right;}
.scrolling{overflow-y: scroll;}
.max-height-500{max-height: 600px;}